@{
    ViewBag.Title = "Management Role of User Page";
}

@model List<TaskManagementSystem.ViewModels.UsersViewModel>
<h1 class="manage-user-custom-header">Manage Users</h1>
<hr class="manage-user-custom-divider" />

<form method="get" asp-controller="Admin" asp-action="ManageUsers" class="manage-user-custom-form">
    <div class="manage-user-custom-input-group">
        <input type="text" class="manage-user-custom-input" placeholder="Search by username or email" aria-label="Search by username or email" aria-describedby="button-search" name="searchTerm" value="@ViewBag.SearchTerm">
        <button class="manage-user-custom-button" type="submit" id="button-search">Search</button>
    </div>
</form>

<table class="manage-user-custom-table">
    <thead class="manage-user-custom-thead">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Confirmed</th>
        <th>Roles</th>
        <th>Status</th>
        <th>Edit role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody class="manage-user-custom-tbody">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>@user.Comfirmed</td>
        <td>@string.Join(", ", user.Roles)</td>
        <td>
            @if (user.LockoutEnd > DateTimeOffset.UtcNow)
            {
            <i class="fas fa-lock manage-user-custom-action-icon manage-user-custom-locked"></i> <span class="manage-user-custom-locked">Locked</span>
            }
            else
            {
            <i class="fas fa-unlock manage-user-custom-action-icon manage-user-custom-unlocked"></i> <span class="manage-user-custom-unlocked">Unlocked</span>
            }
        </td>
        <td>
            <a asp-controller="Admin" asp-action="EditRoles" asp-route-userId="@user.UserId" class="manage-user-custom-edit-link">Edit Roles</a>
        </td>
        @if (User.IsInRole("admin"))
        {
        <td class="manage-user-custom-admin-actions">
            <form method="post" asp-action="@(user.LockoutEnd > DateTimeOffset.UtcNow ? "UnlockUser" : "LockUser")" asp-route-userId="@user.UserId">
                <button type="submit" class="manage-user-custom-admin-button manage-user-custom-admin-button-@(user.LockoutEnd > DateTimeOffset.UtcNow ? "success" : "danger")">
                    @if (user.LockoutEnd > DateTimeOffset.UtcNow)
                    {
                    <i class="fas fa-unlock"></i>
                    }
                    else
                    {
                    <i class="fas fa-lock"></i>
                    }
                </button>
            </form>
        </td>
        }
    </tr>
    }
    </tbody>
</table>
