@{
    ViewBag.Title = "Management Role of User Page";
}

@model List<TaskManagementSystem.ViewModels.UsersViewModel>

<h1>Manage Users</h1>

<form method="get" asp-controller="Admin" asp-action="ManageUsers">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by username or email" aria-label="Search by username or email" aria-describedby="button-search" name="searchTerm" value="@ViewBag.SearchTerm">
        <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Confirmed</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Comfirmed</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditRoles" asp-route-userId="@user.UserId">Edit Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>