@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskManagementSystem.Models.Task>

<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Task Id</th>
            <th>Project Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Task_id</td>
                <td>@item.Project_Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Status</td>
                <td>@item.AssignedTo</td>
                <td>@item.CreateAt</td>
                <td>@item.UpdateAt</td>
                <td>@item.DueDate</td>
                @*<td>
            <a class="btn btn-primary" asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
        </td>*@
                <td>
                    @*<a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">View Details</a> |*@
                    <a href="@Url.Action("Edit", "Tasks", new { id = item.Task_id })">Edit</a> |
                    <form method="post" action="@Url.Action("Delete", "Tasks")" style="display:inline;">
                        <input type="hidden" name="TaskId" value="@item.Task_id" />
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
